<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zonghong.redpacket">

    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".MAPP"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.common.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.zonghong.redpacket"
                    android:pathPrefix="/push_message"
                    android:scheme="rong" />
            </intent-filter>

        </activity>

        <activity android:name=".activity.loginregister.LoginActivity"></activity>

        <activity android:name=".activity.loginregister.RegisterActivity"></activity>

        <activity android:name=".activity.loginregister.ForgetActivity"></activity>

        <activity android:name=".activity.redpackage.NewRedPackageActivity"></activity>

        <activity android:name=".activity.contacts.ChooseContactsActivity"></activity>

        <activity android:name=".activity.redpackage.RedPageResultActivity"></activity>

        <activity android:name=".activity.contacts.SearchContactsActivity"></activity>

        <activity android:name=".activity.contacts.ContactsDetailActivity"></activity>

        <activity android:name=".activity.contacts.ContactsNewListActivity"></activity>

        <activity android:name=".activity.common.SettingActivity"></activity>

        <activity android:name=".activity.user.AccountActivity"></activity>

        <activity android:name=".activity.user.AlterPayPwdActivity"></activity>

        <activity android:name=".activity.user.AlterPwdActivity"></activity>

        <activity android:name=".activity.chat.ChatDetailActivity"></activity>

        <activity android:name=".activity.user.ChooseBankActivity"></activity>

        <activity android:name=".activity.user.RechargeCashActivity"></activity>

        <activity android:name=".activity.user.InfoActivity"></activity>

        <activity android:name=".activity.user.QRCodeActivity"></activity>

        <activity android:name=".activity.user.AlterTextActivity"></activity>

        <activity android:name=".activity.user.NewBankActivity"></activity>

        <activity android:name=".activity.user.MyBankActivity"></activity>

        <activity android:name=".activity.user.VerifyCodeActivity"></activity>

        <activity android:name=".activity.chat.GroupDetailActivity"></activity>

        <activity android:name=".activity.common.AboutActivity"></activity>

        <activity android:name=".activity.common.HelpActivity"></activity>

        <activity android:name=".activity.common.TextActivity"></activity>

        <activity android:name=".activity.user.CashListActivity"></activity>

        <activity android:name=".activity.user.BalanceListActivity"></activity>

        <activity android:name=".activity.common.EditTextAreaActivity"></activity>

        <activity android:name=".activity.chat.MyGroupListActivity"></activity>

        <activity android:name=".activity.chat.GroupManagerActivity"></activity>

        <activity android:name=".activity.chat.AddGroupUserActivity"></activity>

        <activity android:name=".activity.chat.SetGroupManagerActivity"></activity>

        <activity android:name=".activity.chat.DelGroupUserActivity"></activity>

        <activity android:name=".activity.chat.GroupUserListActivity"></activity>

        <activity android:name=".activity.chat.AlterGroupNotiActivity"></activity>

        <activity android:name=".activity.contacts.BlackUserListActivity"></activity>

        <activity android:name=".activity.user.TransferAccountActivity"></activity>

        <activity android:name=".activity.redpackage.ZhuanZhangResultActivity"></activity>

        <activity android:name=".activity.redpackage.RedpackageLogActivity"></activity>

        <activity android:name=".activity.common.ComplaintActivity"></activity>

        <activity android:name=".activity.contacts.ChooseContactsSendMingPianActivity"></activity>

        <activity android:name=".activity.chat.SearchMessageActivity"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zonghong.redpacket.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <!--会话界面-->
        <activity
            android:name=".activity.ConversationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.zonghong.redpacket"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- 高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="替换你申请的高德地图 ApiKey" />
    </application>

</manifest>